* {
    margin: 0;
    box-sizing: border-box;
}

/* Main container of filters and SearchBar  */
.filter-cont {
    height: 100%;
    padding-bottom: 15px;
    background-color: #3E5175;
    color: #fff;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: larger;

}

.search-bar-cont {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    justify-content: center;
    padding-bottom: 16px;
    align-items: center;
}
.search-bar {
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    outline: none;
    background: #2a2f3b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    padding: 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    cursor: pointer;
}
.search-button {
    background-color: #2a2f3b;
    font-size: 1.1rem;
    border: 2px #2a2f3b solid;
    padding: 5px;
    margin-left: -10px;
    cursor: pointer;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.search-button i {
    color: #fff;
}
.filter{
    background-color: #2a2f3b;
    display: flex;
    width: 220px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.filter-icon{
    flex-basis: 50px;
    padding-left: 8px;
}
.filter-company,.filter-location{
    flex-basis: 170px;
}
.dropdown-cont {
    display: flex;
    color: #fff;
    justify-content:space-around;
    padding-bottom: 5px;
}
.dropdown {
    width: 30%;
    font-size: 1.2rem;
    color: #fff;
}
select {
    background: #2a2f3b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 3px;
    font-size: 1.5em;
    padding: 0.1em;
    cursor: pointer;
    transition: background 0.3s;
}
select:hover {
    background: #323741;
}
option {
    color: #fff;
}
.meta-dropdown {
    font-size: 1.2rem;
}