* {
    margin: 0;
    box-sizing: border-box;
}
.filter-cont {
    margin-top: 0.2rem;
    height: 6rem;
    border: 2px solid yellow;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.search-bar-cont {
    border: 1px solid maroon;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
}
.search-bar {
    width: 90%;
    outline: none;
}
.dropdown-cont {
    border: 1px solid silver;
    display: flex;
    justify-content: space-evenly;
}
.dropdown {
    width: 30%;
    height: 1.5rem;
}
.meta-dropdown {}