* {
    margin: 0;
    box-sizing: border-box;
}
.footer-cont {
    color: white;
    background-color: #3E5175;
    font-size: 0.8rem;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    opacity: 0.7;
    padding: 0.1rem;
}
.footer-cont:hover {
    opacity: 1;
}
.github-icon {
    color: white;
    margin-right: 0.5rem;
    font-size: 1.2rem !important;
}
.footer-cont a {
    vertical-align: middle;
}
