* {
    margin: 0;
    box-sizing: border-box;
}
.footer-cont {
    color: white;
    background-color: #3E5175;
    font-size: 1rem;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    opacity: 0.7;
}