* {
    margin: 0;
    box-sizing: border-box;
}

/* Main container that will hold the Div of Jobs */
.items-cont {
    width: 99%;
    display: block;
    border-radius: 10px;
    background-color: transparent;
    overflow-y: scroll;
}
/* Hide Scrollbar */
.items-cont {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.items-cont::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.item-link:link, .item-link:visited, .item-link:hover, .item-link:active { 
    text-decoration: none; 
}
/* single Div of a Job:title,posting,location,icon */
.item{ 
    box-sizing: border-box;
    cursor: pointer;
    z-index: 10;
    height: 80px;
    margin: 6px;
    padding: 5px;
    /* border: 2px solid #fff; */
    background-color: rgba(38, 38,38);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.item:hover{
    background-color: rgba(42, 54, 52, 1);
}

/* fix the single container */
.single-item-cont {
    display: absolute;
    height: 40px;
}
.single-item-cont:hover{
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
    border-radius: 4px;
}
/* job information  */
.item-title, .item-posting, .item-location {
    font-family: "Amazon Ember", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    display: inline-block;
    color: #fff;
}
.item-posting {
    float: right;
    padding: 2px 4px;
    margin: 3px;
    font-style: italic;
    font-weight: bold;
    font-size: 0.7rem;
    line-height: 0.8;
    overflow: hidden;
}

/* .item-title-cont {} */
.company-icon {
    margin-right: 0.4rem;
    max-height: 1.5rem;
    vertical-align: middle;
    background-color: white;
    padding: 0.2rem;
    border-radius: 0.5rem;
}
.item-title {
    position:relative;
    top:-6px;
    left: 15px;
    font-size: 1.1rem;
    font-weight: bold;
    z-index: 1;
    text-align: left;
    margin-top:-8px;
    margin-left: 0.5rem;
    width: 30rem;
}

/* company icon */
.item-title>img{
    position: relative;
    top:10px;
    left: -10px;
    padding: 3px;
}
.item-location {
    position: relative;
    top:-2px;
    left: 15px;
    font-size: 0.8rem;
    line-height: 0.8;
    text-align: left;
    margin-left: 0.5rem;
    padding: 0 0 2px 30px;
    font-style: italic;
}
/* loader that appear after scrapping data */
.loader{
    display: block;
    height: 100%;
    width:100%;
    margin-top: 20px;
}

/* ----------------------------add to favorites button --------------------*/
.add-to-favorites {
    width: 35px;
    height: 35px;
    position: relative;
    left: 90%;
    top:-30%;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
.add-to-favorites svg {
    transition: fill 0.3s; /* Add transition for smooth hover effect */
  }
  
  .add-to-favorites:hover svg {
    fill: red; /* Change fill color on hover */
  }
  
  .add-to-favorites:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }

/* ----------------------------------- light mode CSS written below this  */
/* for every text and background */
.light{
    color:black;
    background-color: white;
}
h3.light{
    background: transparent;
}
.list-cont.light{
    background-color: white;
}
div.single-item-cont.light{
    background: transparent;
} 
 div.item.light:hover{
    background-color: rgba(255, 127, 80, 0.626);
}
.add-to-favorites.light{
    background-color: transparent;
}
.add-to-favorites.light:hover{
    background-color: transparent;
    color: black;
}
.btn.light{
    background-color: white;
    color:black;
}
.btn.light.deActive-tab{
    color: black;
    background-color: rgb(141, 120, 120);
    border-bottom: none;
}
.btn.light:hover{
    background-color: rgb(141, 120, 120);
    color: white;
}
 