html, body {
  margin: 0;
  /* width: 500px; */
  /* height: 600px; */
  width: 32rem;
  height: 38rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
